




html,body{
    overflow-x: hidden;
}
.videoContainer{
    margin-left: 4rem;
    margin-right: 6rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
    /* overflow: hidden; */
    display: inline-block;
    height: 1000px;
}
.video-section{
    display: flex;
    gap: 5rem;
}
.first-video{
   height: 80%;
   transition: transform 0.2s ease-in-out;
   
}
.second-video{
    padding-top: 10rem;
    height: 80%;
 }
 .first-video:hover{
    transform: scale(1.03);
 }
 .second-video:hover{
    transform: scale(1.03);
 }
 .first-video-para{
    margin-top: 2px !important;
 }
 .first-video-head{
    margin-bottom: 2px !important;
    font-size: 2rem;
    font-weight: 630;
 }



.videoContainer-2{
    margin-left: 4rem;
    margin-right: 6rem;
    margin-top: 5rem;
    
}
.videoContainer-2 video{
    width: 80%;
}
.third-video{
    height:600px ;
    width: 100%;
   
}
/* .video-section:hover::after{
    content: "Webdesign  . ";
   
} */
.after1 {
    position: relative;
  }
  
  .after1:hover::after{
    content: "Web Design  . Enterprise . Development"; 
    position: absolute; 
    top: 90%;
    left: 22%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    
    z-index: 1; 
  }
 .snapshotafter{
    position: relative; 
 }

 .snapshotafter:hover::after{
    content: "UI/UX  . Moblie App . Ecommerce"; 
    position: absolute; 
    top: 100%;
    left: 18%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    
    z-index: 1; 
  }
  .discovery1{
    position: relative; 
  }
  .discovery1:hover::after{
    content: "UI/UX  . Design System . Finetech"; 
    position: absolute; 
    top: 90%;
    left: 18%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    
    z-index: 1; 
  }
.wealth{
    position: relative; 
}
.wealth:hover::after{
    content: " Brandin . UI/UX  . Website . Design System"; 
    position: absolute; 
    top: 95%;
    left: 23%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    
    z-index: 1; 
  }
  .grayscale{
    position: relative; 
  }
  .grayscale:hover::after{
    content: " Web Design  .Design System  . Illustartion "; 
    position: absolute; 
    top: 105%;
    left: 23%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    z-index: 1; 
  }
  .milkshake1{
    position: relative; 
  }
  .milkshake1:hover::after{
    content: "UI/UX  . Moblie App . Consumer";
    position: absolute; 
    top: 83%;
    left: 18%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    
    z-index: 1; 
  }
  .tab1{
    position: relative;
  }
  .tab1:hover::after{
    content: "Web Design . Design Sysytem . Ecommerce";
    position: absolute; 
    top: 105%;
    left: 23%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    
    z-index: 1; 
  }
  .bridge{
    position: relative;
  }
  .bridge:hover::after{
    content: "Website . Development . Web Design";
    position: absolute; 
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    
    z-index: 1; 
  }
  .beat{
    position: relative;
  }
  .beat:hover::after{
    content: "Visual Identity . Startup . Fintech";
    position: absolute; 
    top: 102%;
    left: 28.5%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    
    z-index: 1; 
  }
.nuant{
    position: relative;
}
.nuant:hover::after{
    content: "UI/UX . Web App . Web3";
    position: absolute; 
    top: 102%;
    left: 6.5%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    
    z-index: 1; 
  }
  .marqeta{
    position: relative;
  }
  .marqeta:hover::after{
    content: "Web Design . 3D . Development  .  Finetech";
    position: absolute; 
    top: 102%;
    left: 31%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    
    z-index: 1; 
  }
.fever{
    position: relative; 
}
.fever:hover::after{
    content: "UI/UX . Startup . Design System ";
    position: absolute; 
    top: 101%;
    left: 8%;
    transform: translate(-50%, -50%); 
    padding-top: 10px;
   font-size: 1rem;
    color: #7c7979;
    
    z-index: 1; 
  }


.third-video:hover{
    transform: scale(1.03);
 }
 
 .snapshot{
    height: 70%;
    padding-top: 10rem;
    transition: transform 0.2s ease-in-out;
 }
 .milkshake{
     height: 70%;
  }

  .snapshot:hover{
    transform: scale(1.03);
 }
 .milkshake:hover{
    transform: scale(1.03);
 }
  .videoContainer-3{
    margin-left: 4rem;
    margin-right: 6rem;
    margin-top: 0rem;
    
}
.videoContainer-3 video{
    width: 80%;
    padding-left: 17rem;
}

.first-video-matters{
    padding-left: 17rem;
}
.fourth-video:hover{
    transform: scale(1.03);
 }

 .videoContainer-4{
    margin-left: 4rem;
    margin-right: 6rem;
    margin-top: 7rem;
    
}
.videoContainer-4 video{
    width: 80%;
    padding-right: 17rem;
}
.first-video1{
    height: 80%;
    width: 100%;
    transition: transform 0.2s ease-in-out;
    
 }
 .discovery{
    width: 100%;
 }
 .tab{
    width: 100%;
 }
  .second-video1{
     padding-top: 10rem;
     height: 80%;
    
  } 
  .first-video1:hover{
     transform: scale(1.03);
  }
  .second-video1:hover{
     transform: scale(1.03);
  }
  .videoContainer-5{
    margin-left: 4rem;
    margin-right: 6rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    height: 1100px;
  }
.client-section{
    padding-top: 5rem;
}

.videoContainer video:hover{
    cursor: url("https://cdn-icons-gif.flaticon.com/10970/10970360.gif" ), auto;
  }
  
  .videoContainer video{
    /* cursor: url("icons8-left-arrow-48.png"), auto;  */
  }
  





 @media  (min-width:1900px) and (max-width:2566px){
    .videoContainer{
        margin-left: 4rem;
        margin-right: 6rem;
        margin-top: 7rem;
        /* overflow: hidden; */
        height: 1560px;
    }
    .video-section{
        display: flex;
        justify-content: space-between;
        gap: 50rem;
        
    }
    .first-video{
        height: 80%;
        width: 100%;
        transition: transform 0.2s ease-in-out;
     }
     .second-video{
         padding-top: 10rem;
         height: 80%;
         width: 100%;
      }
      .videoContainer-5{
        margin-left: 4rem;
        margin-right: 6rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        height: 1300px;
      }
      .videoContainer-2 video{
        width: 80%;
    }
    .third-video{
        height:1200px ;
        width: 100%;
       
    }
   
      
      .after1:hover::after{
        content: "Web Design  . Enterprise . Development"; 
        position: absolute; 
        top: 90%;
        left: 20%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
     
    
     .snapshotafter:hover::after{
        content: "UI/UX  . Moblie App . Ecommerce"; 
        position: absolute; 
        top: 97%;
        left: 18%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .discovery1:hover::after{
        content: "UI/UX  . Design System . Finetech"; 
        position: absolute; 
        top: 90%;
        left: 15%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .wealth:hover::after{
        content: " Brandin . UI/UX  . Website . Design System"; 
        position: absolute; 
        top: 88%;
        left: 15%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
     
      .grayscale:hover::after{
        content: " Web Design  .Design System  . Illustartion "; 
        position: absolute; 
        top: 104%;
        left: 21%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        z-index: 1; 
      }
      
      .milkshake1:hover::after{
        content: "UI/UX  . Moblie App . Consumer";
        position: absolute; 
        top: 81%;
        left: 18%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .tab1:hover::after{
        content: "Web Design . Design Sysytem . Ecommerce";
        position: absolute; 
        top: 101%;
        left: 20%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .bridge:hover::after{
        content: "Website . Development . Web Design";
        position: absolute; 
        top: 77%;
        left: 20%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
     
      .beat:hover::after{
        content: "Visual Identity . Startup . Fintech";
        position: absolute; 
        top: 102%;
        left: 16%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .nuant:hover::after{
        content: "UI/UX . Web App . Web3";
        position: absolute; 
        top: 102%;
        left: 4%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .marqeta:hover::after{
        content: "Web Design . 3D . Development  .  Finetech";
        position: absolute; 
        top: 102%;
        left: 18%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .fever:hover::after{
        content: "UI/UX . Startup . Design System ";
        position: absolute; 
        top: 101%;
        left: 4.5%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    
 }


 @media (max-width:1200px){
    .videoContainer-2 video{
        width: 80%;
    }
    .third-video{
        height:500px ;
        width: 100%;
       
    }
    .videoContainer-5{
        margin-left: 4rem;
        margin-right: 6rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        height: 1000px;
      }
      .videoContainer-3 video{
        width: 100%;
        padding-left: 4rem;
    }
    .first-video-matters{
        padding-left: 4rem;
    }



    .after1:hover::after{
        content: "Web Design  . Enterprise . Development"; 
        position: absolute; 
        top: 99%;
        left: 33%;
        right: 0%;
       
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        z-index: 1; 
        
      }
     
    
     .snapshotafter:hover::after{
        content: "UI/UX  . Moblie App . Ecommerce"; 
        position: absolute; 
        top: 111%;
        left: 29%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .discovery1:hover::after{
        content: "UI/UX  . Design System . Finetech"; 
        position: absolute; 
        top: 95%;
        left: 30%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .wealth:hover::after{
        content: " Brandin . UI/UX  . Website . Design System"; 
        position: absolute; 
        top: 112%;
        left: 32%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .grayscale:hover::after{
        content: " Web Design  .Design System  . Illustartion "; 
        position: absolute; 
        top: 118%;
        left: 33%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        z-index: 1; 
      }
     
      .milkshake1:hover::after{
        content: "UI/UX  . Moblie App . Consumer";
        position: absolute; 
        top: 88%;
        left: 30%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .tab1:hover::after{
        content: "Web Design . Design Sysytem . Ecommerce";
        position: absolute; 
        top: 116%;
        left: 33%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .bridge:hover::after{
        content: "Website . Development . Web Design";
        position: absolute; 
        top: 86%;
        left: 28%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .beat:hover::after{
        content: "Visual Identity . Startup . Fintech";
        position: absolute; 
        top: 102%;
        left: 20%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .nuant:hover::after{
        content: "UI/UX . Web App . Web3";
        position: absolute; 
        top: 102%;
        left: 10%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .marqeta:hover::after{
        content: "Web Design . 3D . Development  .  Finetech";
        position: absolute; 
        top: 102%;
        left: 25%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .fever:hover::after{
        content: "UI/UX . Startup . Design System ";
        position: absolute; 
        top: 101%;
        left: 13%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; }
    
 }
 @media (max-width:768px){
    .snapshot{
        height: 70%;
        padding-top: 10rem;
        width: 100%;
        transition: transform 0.2s ease-in-out;
     }
     .videoContainer-2 video{
        width: 100%;
    }
    .third-video{
        height:500px ;
        width: 100%;
       
    }
     .milkshake{
         height: 70%;
        
      }
      .wealth video{
        width: 140%;
      }
    
    
    
    .after1:hover::after{
        content: "Web Design  . Enterprise . Development"; 
        position: absolute; 
        top: 103%;
        left: 33%;
        right: 0%;
       
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        z-index: 1; 
        
      }
     
    
     .snapshotafter:hover::after{
        content: "UI/UX  . Moblie App . Ecommerce"; 
        position: absolute; 
        top: 125%;
        left: 35%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .discovery1:hover::after{
        content: "UI/UX  . Design System . Finetech"; 
        position: absolute; 
        top: 102%;
        left: 33%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .wealth:hover::after{
        content: " Brandin . UI/UX  . Website . Design System"; 
        position: absolute; 
        top: 128%;
        left: 32%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .grayscale:hover::after{
        content: " Web Design  .Design System  . Illustartion "; 
        position: absolute; 
        top: 128%;
        left: 34%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        z-index: 1; 
      }
     
      .milkshake1:hover::after{
        content: "UI/UX  . Moblie App . Consumer";
        position: absolute; 
        top: 96%;
        left: 34%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .tab1:hover::after{
        content: "Web Design . Design Sysytem . Ecommerce";
        position: absolute; 
        top: 129%;
        left: 33%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .bridge:hover::after{
        content: "Website . Development . Web Design";
        position: absolute; 
        top: 90%;
        left: 35%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .beat:hover::after{
        content: "Visual Identity . Startup . Fintech";
        position: absolute; 
        top: 102%;
        left: 29%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .nuant:hover::after{
        content: "UI/UX . Web App . Web3";
        position: absolute; 
        top: 102%;
        left: 14%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .marqeta:hover::after{
        content: "Web Design . 3D . Development  .  Finetech";
        position: absolute; 
        top: 101%;
        left: 35%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .fever:hover::after{
        content: "UI/UX . Startup . Design System ";
        position: absolute; 
        top: 101%;
        left: 19%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; }
 }
 @media (max-width:480px){
    .videoContainer{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 7rem;
       
        
        display: inline-block;
        height: 1500px;
    }
    .video-section{
        display: flex;
        flex-direction: column;
        gap: 6rem;
       
    }
    .first-video-matter{
       padding-left: 1rem;
    }
    .first-video-head{
        font-size: 1.5rem;
     }
     .second-video{
        padding-top: 2rem;
     }
     .videoContainer-2{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 1rem;
        padding-bottom: 5rem;
        /* overflow: hidden; */
    }
    .third-video{
       
        height:400px;
        width: 100%;
    }
    .videoContainer-3{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 0rem;
       padding-bottom: 5rem;
        
    }
    .videoContainer-3 video{
        width: 100%;
        padding-left: 0rem;
    }
    
    .first-video-matters{
        padding-left: 1rem;
    }
    .videoContainer-4{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 7rem;
        padding-bottom: 0rem;
        padding-bottom: 0rem;
        
    }
    .videoContainer-4 video{
        width: 100%;
        padding-right: 17rem;
    }
    .first-video1{
        height: 80%;
        width: 100%;
        transition: transform 0.2s ease-in-out;
        
     }
     .discovery{
        width: 100%;
     }
     .tab{
        width: 100%;
        
     }
      .second-video1{
         padding-top: 10rem;
         height: 100%;
        
      } 
      .videoContainer-5{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        padding-bottom: 5rem;
        height: 1300px;
      }
    
      /* .after1:hover::after{
        display: none;
      } */
      .after1:hover::after{
        content: "Web Design  . Enterprise . Development"; 
        position: absolute; 
        top: 100%;
        left: 38%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        z-index: 1; 
        
      }
     
    
     .snapshotafter:hover::after{
        content: "UI/UX  . Moblie App . Ecommerce"; 
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .discovery1:hover::after{
        content: "UI/UX  . Design System . Finetech"; 
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .wealth:hover::after{
        content: " Brandin . UI/UX  . Website . Design System"; 
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .grayscale:hover::after{
        content: " Web Design  .Design System  . Illustartion "; 
        position: absolute; 
        top: 102%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 0.8rem;
        color: #7c7979;
        z-index: 1; 
      }
     
      .milkshake1:hover::after{
        content: "UI/UX  . Moblie App . Consumer";
        position: absolute; 
        top: 101%;
        left: 36%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .tab1:hover::after{
        content: "Web Design . Design Sysytem . Ecommerce";
        position: absolute; 
        top: 101%;
        left: 36%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .bridge:hover::after{
        content: "Website . Development . Web Design";
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .beat:hover::after{
        content: "Visual Identity . Startup . Fintech";
        position: absolute; 
        top: 80%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .nuant:hover::after{
        content: "UI/UX . Web App . Web3";
        position: absolute; 
        top: 102%;
        left: 32%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .marqeta:hover::after{
        content: "Web Design . 3D . Development  .  Finetech";
        position: absolute; 
        top: 83%;
        left: 36%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .fever:hover::after{
        content: "UI/UX . Startup . Design System ";
        position: absolute; 
        top: 90%;
        left: 38%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      .videoContainer-2 video{
        width: 100%;
    }
 }
 @media (max-width:380px){
    .videoContainer{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 7rem;
       
        
        display: inline-block;
        height: 1600px;
    }
    .video-section{
        display: flex;
        flex-direction: column;
        gap: 6rem;
       
    }
    .first-video-matter{
       padding-left: 1rem;
    }
    .first-video-head{
        font-size: 1.5rem;
     }
     .second-video{
        padding-top: 2rem;
     }
     .videoContainer-2{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 1rem;
        padding-bottom: 5rem;
        /* overflow: hidden; */
    }
    .third-video{
       
        height:400px;
        width: 100%;
    }
    .videoContainer-3{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 0rem;
       padding-bottom: 5rem;
        
    }
    .videoContainer-3 video{
        width: 100%;
        padding-left: 0rem;
    }
    
    .first-video-matters{
        padding-left: 1rem;
    }
    .videoContainer-4{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 7rem;
        padding-bottom: 0rem;
        padding-bottom: 0rem;
        
    }
    .videoContainer-4 video{
        width: 100%;
        padding-right: 17rem;
    }
    .first-video1{
        height: 80%;
        width: 100%;
        transition: transform 0.2s ease-in-out;
        
     }
     .discovery{
        width: 100%;
     }
     .tab{
        width: 100%;
        
     }
      .second-video1{
         padding-top: 10rem;
         height: 100%;
        
      } 
      .videoContainer-5{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        padding-bottom: 5rem;
        height: 1200px;
      }
    

      .after1:hover::after{
        content: "Web Design  . Enterprise . Development"; 
        position: absolute; 
        top: 100%;
        left: 38%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
     
    
     .snapshotafter:hover::after{
        content: "UI/UX  . Moblie App . Ecommerce"; 
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .discovery1:hover::after{
        content: "UI/UX  . Design System . Finetech"; 
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .wealth:hover::after{
        content: " Brandin . UI/UX  . Website . Design System"; 
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .grayscale:hover::after{
        content: " Web Design  .Design System  . Illustartion "; 
        position: absolute; 
        top: 102%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 0.8rem;
        color: #7c7979;
        z-index: 1; 
      }
     
      .milkshake1:hover::after{
        content: "UI/UX  . Moblie App . Consumer";
        position: absolute; 
        top: 101%;
        left: 36%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .tab1:hover::after{
        content: "Web Design . Design Sysytem . Ecommerce";
        position: absolute; 
        top: 101%;
        left: 36%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .bridge:hover::after{
        content: "Website . Development . Web Design";
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .beat:hover::after{
        content: "Visual Identity . Startup . Fintech";
        position: absolute; 
        top: 80%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .nuant:hover::after{
        content: "UI/UX . Web App . Web3";
        position: absolute; 
        top: 102%;
        left: 32%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .marqeta:hover::after{
        content: "Web Design . 3D . Development  .  Finetech";
        position: absolute; 
        top: 83%;
        left: 36%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .fever:hover::after{
        content: "UI/UX . Startup . Design System ";
        position: absolute; 
        top: 90%;
        left: 38%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      .videoContainer-2 video{
        width: 100%;
    }
 }
 @media (max-width:325px){
    .videoContainer{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 7rem;
        /* overflow: hidden; */
        
        display: inline-block;
        height: 1260px;
    }
    .video-section{
        display: flex;
        flex-direction: column;
        gap: 6rem;
       
    }
    .first-video-matter{
       padding-left: 1rem;
    }
    .first-video-head{
        font-size: 1.5rem;
     }
     .second-video{
        padding-top: 2rem;
     }
     .videoContainer-2{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 1rem;
        padding-bottom: 5rem;
        /* overflow: hidden; */
    }
    .videoContainer-2 video{
        width: 100%;
    }
    .third-video{
       
        height:400px;
        width: 100%;
    }
    .videoContainer-3{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 0rem;
       padding-bottom: 5rem;
        
    }
    .videoContainer-3 video{
        width: 100%;
        padding-left: 0rem;
    }
    
    .first-video-matters{
        padding-left: 1rem;
    }
    .videoContainer-4{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 7rem;
        padding-bottom: 0rem;
        padding-bottom: 0rem;
        
    }
    .videoContainer-4 video{
        width: 100%;
        padding-right: 17rem;
    }
    .first-video1{
        height: 80%;
        width: 100%;
        transition: transform 0.2s ease-in-out;
        
     }
     .discovery{
        width: 100%;
     }
     .tab{
        width: 100%;
        
     }
      .second-video1{
         padding-top: 10rem;
         height: 100%;
        
      } 
      .videoContainer-5{
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
        padding-bottom: 5rem;
        height: 1100px;
      }
    

      .after1:hover:after{
        content: "Web Design  . Enterprise . Development"; 
        position: absolute; 
        top: 100%;
        left: 38%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
     
    
     .snapshotafter:hover::after{
        content: "UI/UX  . Moblie App . Ecommerce"; 
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .discovery1:hover::after{
        content: "UI/UX  . Design System . Finetech"; 
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .wealth:hover::after{
        content: " Brandin . UI/UX  . Website . Design System"; 
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .grayscale:hover::after{
        content: " Web Design  .Design System  . Illustartion "; 
        position: absolute; 
        top: 102%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 0.8rem;
        color: #7c7979;
        z-index: 1; 
      }
     
      .milkshake1:hover::after{
        content: "UI/UX  . Moblie App . Consumer";
        position: absolute; 
        top: 101%;
        left: 36%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .tab1:hover::after{
        content: "Web Design . Design Sysytem . Ecommerce";
        position: absolute; 
        top: 101%;
        left: 36%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .bridge:hover::after{
        content: "Website . Development . Web Design";
        position: absolute; 
        top: 101%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .beat:hover::after{
        content: "Visual Identity . Startup . Fintech";
        position: absolute; 
        top: 80%;
        left: 37%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .nuant:hover::after{
        content: "UI/UX . Web App . Web3";
        position: absolute; 
        top: 102%;
        left: 32%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
      
      .marqeta:hover::after{
        content: "Web Design . 3D . Development  .  Finetech";
        position: absolute; 
        top: 83%;
        left: 36%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    .fever:hover::after{
        content: "UI/UX . Startup . Design System ";
        position: absolute; 
        top: 90%;
        left: 38%;
        transform: translate(-50%, -50%); 
        padding-top: 10px;
       font-size: 1rem;
        color: #7c7979;
        
        z-index: 1; 
      }
    
    
 }